.cart-no {
    position:absolute;
    min-height:25px;
    min-width:25px;
    border-radius :50%;
    font-size:1em;
    background:blue;
    color:white;
    text-align:center;
    top:-12px;
    right:32px;
}

/*
we want this to have a position of absolute so that we can directly control where it fits on our 
page and if we use position absolute in an element stand what we need to make sure is its parent element is set to position relative.


*/